---
---

$dark-crimson: #a70500;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

h1 {
    font-size: 75px;
    margin-top: 0px;
    text-transform: capitalize;
    color: $dark-crimson;
}

h2 {
    font-size: 50px;
    color: $dark-crimson;
}

a {
    color: $dark-crimson;
}

#cash-prizes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;

    .podium {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;

        justify-content: flex-end;

        div {
            margin: 0px;
            padding-top: 20px;
            font-size: 75px;
            color: white;
        }

        span {
            margin-bottom: 10px;
        }
    }

    #first {
        div {
            height: 200px;
            background-color: #f9d984;
        }
    }

    #second {
        div {
            height: 150px;
            background-color: #cdcdcd;
        }
    }

    #third {
        div {
            height: 100px;
            background-color: #cb9b81;
        }
    }
    span {
        display: block;
        font-size: 30px;
        font-weight: bold;
    }

    // div:first-of-type {
    //     flex-grow: 1;
    //     text-align: right;
    //     margin-right: 10px;
    // }

    // div:last-of-type {
    //     flex-grow: 1;
    //     text-align: left;
    //     margin-left: 10px;
    // }

    .first-prize {
        font-size: 50px;
    }

    .second-prize {
        font-size: 45px;
    }

    .third-prize {
        font-size: 40px;
    }
}

.invisible {
    opacity: 0;
}

#schedule {
    @media only screen and (max-width: 425px) {
        margin-bottom: 30px;
    }
}

#schedule-lines {
    display: inline-flex;
    flex-direction: column;

    // width: 100%;
    // span {
    //     display: block;
    // }

    // div:first-of-type {
    //     text-align: right;
    //     margin-right: 10px;
    // }

    // div:last-of-type {
    //     text-align: left;
    //     margin-left: 10px;
    // }
}

.fullscreen {
    height: auto;
    padding-top: 120px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 425px) {
        height: auto;
    }

    .container {
        max-width: 850px;
        width: 100%;
        text-align: center;
        padding: 0px 20px;
        box-sizing: border-box;
        position: relative;
    }
}

#first-page {
    min-height: 100vh;
    box-sizing: border-box;

    .container {
        padding: 0px 20px;

        @media only screen and (max-width: 425px) {
            width: 100%;
        }

        span {
            display: block;
            font-size: 30px;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 30px;

        @media only screen and (max-width: 425px) {
            flex-direction: column;
        }
    }

    .column {
        flex-grow: 1;
        flex-basis: 0;
    }

    #side-text {
        display: flex;
        justify-content: flex-end;

        div {
            width: 250px;
            font-size: 25px;
            text-align: right;
            white-space: pre-wrap;
            margin-right: 20px;
        }
    }

    #logo-register {
        position: relative;
        margin-bottom: 26px;
        flex-direction: column;
        display: inline-block;

        span {
            display: block;
            position: absolute;
            font-family: 'bariol';
            font-size: 75px;
            line-height: 65px;
            bottom: -26px;
            text-align: left;
        }

        img {
            display: block;
        }
    }

    #sponsor {
        position: relative;
        margin-top: 10px;
        margin-bottom: 0px;
        // right: 50px;
        // bottom: 50px;
        // width: 100%;
        padding: 0px 20px;

        // @media only screen and (max-width: 425px) {
        //     position: relative;
        //     right: 0px;
        //     bottom: 0px;
        //     text-align: center;
        // }
        p {
            font-size: 30px;
            display: inline;
        }
        img {
            display: inline;
            height: 30px;
        }

        a {
            background: none;
            display: inline;
        }
    }

    .info-buttons {

        a:first-of-type {
            margin-top: 0px;
            @media only screen and (max-width: 425px) {
                margin-top: 30px;
            }
        }

        &#info-buttons {
            &-right {
                margin-left: 20px;
                text-align: left;

                @media only screen and (max-width: 425px) {
                    order: 2;
                    margin-left: 0px;
                    text-align: center;
                }
            }

            &-left {
                text-align: right;
                margin-right: 20px;

                @media only screen and (max-width: 425px) {
                    order: 1;
                    margin-right: 0px;
                    text-align: center;
                }
            }
        }
    }
}

.schedule-line {
    display: flex;
    flex-direction: row;
    // padding-bottom: 20px;
    .divider {
        display: block;
        margin-left: 20px;
        // padding-bottom: 20px;
        border-left: 5px solid $dark-crimson;
    }

    span {
        display: block;
        &:first-of-type {
            flex-basis: 120px;
            flex-shrink: 0;
            text-align: right;
            // padding-right: 20px;
            // padding-bottom: 20px;
            // border-right: solid 5px $dark-crimson;
        }
        &:last-of-type {
            text-align: left;
            white-space: nowrap;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }



    &:last-of-type {
        margin-bottom: 0px;

        span:last-of-type {
            margin-bottom: 0px;
        }
    }

}

.faq-item {
    margin-bottom: 30px;
    text-align: left;
    font-size: 20px;
    span {
        display: block;

        &:first-of-type {
            font-weight: bold;
            // font-size: 20px;
            color: $dark-crimson;
        }
    }
}

#logo img {
    display: block;
    width: 100%;
}

.navbar {
    z-index: 1000;
    background-color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: background-color 1s;

    .buttons {
        max-width: 850px;
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: center;


        a {
            color: $dark-crimson;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px 20px;
            height: 60px;
            text-transform: lowercase;
            font-size: 30px;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            position: relative;

            top: 0px;

            transition: all  1s;
        }

        #register {
            color: white;
            background-color: $dark-crimson;
            border-radius: 30px;
        }
    }

    &.scrolled {
        background-color: $dark-crimson;

        a {
            color: white;
        }
        #register {
            color: $dark-crimson;
            background-color: white;
        }
    }
}

#logo-img {
    width: 55%;
}

#faq-container {
    display: flex;

}

#column-left {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 10px;
}

#column-right {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .schedule-line {
        span:last-of-type {
            white-space: unset;
        }
    }
}
@media only screen and (max-width: 425px) {
    .navbar {
        .buttons {
            a:not(#register) {
                display: none;
            }
        }
    }

    #logo-img {
        width: 80%;
    }

    #first-page {
        padding-top: 120px;

        .container {
            margin-top: 0px;
        }
    }

    .schedule-line {
        span:last-of-type {
            white-space: unset;
        }

        .time-container {
            padding-bottom: 20px;
        }
    }

    #faq-container {
        flex-direction: column;
    }

    #column-left {
        margin-right: 0px;
    }

    #column-right {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #schedule {
        h1 {
            font-size: 60px;
        }
    }
}

// briefs page
.briefs-container {
    max-width: 1000px;
    padding: 0px 30px;
    box-sizing: content-box;
    margin: 0px auto;
}

.brief {
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;

    h1 {
        font-size: 50px;
        hyphens: auto;
    }

    h2 {
        font-size: 40px;
        margin-bottom: 0px;
        line-height: auto;
    }

    a {
        word-wrap: break-word;
    }

    &#last {
        border-bottom: none;
    }
}

.brief-title {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // @media only screen and (max-width: 425px) {
    //     flex-direction: column;
    //     align-items:
    // }
    img {
        max-height: 60px;
        max-width: 100%;
        display: inline;
        margin-right: 30px;
    }

    span {
        font-size: 60px;
        display: inline;
        color: $dark-crimson;
        font-weight: bold;
    }
}
